control/control.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  IMPORTANT!: After editing control.rnc run "make" to generate the
  RNG file and commit _both_ files to Git to keep them in sync!
  
  We do not generate the RNG file at build time as it adds huge dependecy (it
  is a Java tool so it requires complete Java stack)
  
-->
<grammar ns="" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:config="http://www.suse.com/1.0/configns" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Single hash comments become <!- - XML comments- ->
    Double hash comments ## are preserved in .rng as <a:documentation>
  -->
  <define name="BOOLEAN">
    <a:documentation>Defined data-types</a:documentation>
    <attribute>
      <a:documentation>Historically we used config:type
but it is unnecessarily long to type and read.
Shorter variants are allowed.</a:documentation>
      <choice>
        <name>t</name>
        <name>type</name>
        <name>config:type</name>
      </choice>
      <value>boolean</value>
    </attribute>
    <choice>
      <value>true</value>
      <value>false</value>
    </choice>
  </define>
  <define name="INTEGER">
    <attribute>
      <choice>
        <name>t</name>
        <name>type</name>
        <name>config:type</name>
      </choice>
      <value>integer</value>
    </attribute>
    <data type="integer"/>
  </define>
  <define name="STRING">
    <optional>
      <attribute>
        <choice>
          <name>t</name>
          <name>type</name>
          <name>config:type</name>
        </choice>
        <value>string</value>
      </attribute>
    </optional>
    <text/>
  </define>
  <define name="SYMBOL">
    <attribute>
      <choice>
        <name>t</name>
        <name>type</name>
        <name>config:type</name>
      </choice>
      <value>symbol</value>
    </attribute>
  </define>
  <define name="LIST">
    <attribute>
      <choice>
        <name>t</name>
        <name>type</name>
        <name>config:type</name>
      </choice>
      <value>list</value>
    </attribute>
  </define>
  <define name="MAP">
    <optional>
      <attribute>
        <choice>
          <name>t</name>
          <name>type</name>
          <name>config:type</name>
        </choice>
        <value>map</value>
      </attribute>
    </optional>
  </define>
  <define name="DISKSIZE">
    <optional>
      <attribute>
        <choice>
          <name>t</name>
          <name>type</name>
          <name>config:type</name>
        </choice>
        <choice>
          <value>string</value>
          <value>disksize</value>
        </choice>
      </attribute>
    </optional>
    <choice>
      <value>unlimited</value>
      <list>
        <data type="integer"/>
        <choice>
          <value>B</value>
          <value>KiB</value>
          <value>MiB</value>
          <value>GiB</value>
          <value>TiB</value>
          <value>PiB</value>
          <value>EiB</value>
          <value>ZiB</value>
          <value>YiB</value>
          <value>KB</value>
          <value>MB</value>
          <value>GB</value>
          <value>TB</value>
          <value>PB</value>
          <value>EB</value>
          <value>ZB</value>
          <value>YB</value>
        </choice>
      </list>
    </choice>
  </define>
  <define name="ANY">
    <choice>
      <ref name="BOOLEAN"/>
      <ref name="INTEGER"/>
      <ref name="SYMBOL"/>
      <ref name="LIST"/>
      <ref name="STRING"/>
      <ref name="MAP"/>
    </choice>
  </define>
  <define name="YES_NO">
    <choice>
      <value>yes</value>
      <value>no</value>
    </choice>
  </define>
  <!-- types -->
  <define name="textdomain">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">textdomain</name>
      <ref name="STRING"/>
    </element>
  </define>
  <!-- globals -->
  <define name="globals_elements">
    <choice>
      <ref name="incomplete_translation_treshold"/>
      <ref name="additional_kernel_parameters"/>
      <ref name="ui_mode"/>
      <ref name="base_product_license_directory"/>
      <ref name="enable_autologin"/>
      <ref name="enable_firewall"/>
      <ref name="firewall_enable_ssh"/>
      <ref name="enable_sshd"/>
      <ref name="write_hostname_to_hosts"/>
      <ref name="dhclient_set_hostname"/>
      <ref name="run_init_scripts_in_parallel"/>
      <ref name="inform_about_suboptimal_distribution"/>
      <ref name="skip_language_dialog"/>
      <ref name="enable_clone"/>
      <ref name="save_y2logs"/>
      <ref name="enable_register_hwdata"/>
      <ref name="enable_register_optional"/>
      <ref name="disable_os_prober"/>
      <ref name="display_register_forcereg"/>
      <ref name="disable_register_w3m"/>
      <ref name="register_monthly"/>
      <ref name="manual_online_update"/>
      <ref name="root_password_as_first_user"/>
      <ref name="root_password_ca_check"/>
      <ref name="enable_local_users"/>
      <ref name="show_online_repositories"/>
      <ref name="online_repositories_default"/>
      <ref name="show_addons"/>
      <ref name="addons_default"/>
      <ref name="kexec_reboot"/>
      <ref name="rle_offer_rulevel_4"/>
      <ref name="default_ntp_setup"/>
      <ref name="save_instsys_content"/>
      <ref name="displaymanager_shutdown"/>
      <ref name="enable_kdump"/>
      <ref name="polkit_default_privs"/>
      <ref name="debug_workflow"/>
      <ref name="subworkflows"/>
      <ref name="default_subworkflow"/>
      <ref name="language"/>
      <ref name="timezone"/>
      <ref name="readonly_language"/>
      <ref name="readonly_timezone"/>
      <ref name="enable_autologin"/>
      <ref name="default_target"/>
      <ref name="require_registration"/>
      <ref name="services_proposal"/>
      <ref name="debug_deploying"/>
      <ref name="show_drivers_info"/>
      <ref name="self_update_url"/>
      <ref name="self_update_id"/>
      <ref name="installation_ui"/>
      <ref name="cpu_mitigations"/>
      <ref name="full_system_media_name"/>
      <ref name="full_system_download_url"/>
      <ref name="precise_time"/>
    </choice>
  </define>
  <define name="additional_kernel_parameters">
    <a:documentation>Default kernel parameters proposed by bootloader</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">additional_kernel_parameters</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="incomplete_translation_treshold">
    <a:documentation>How much per cent is the minimum coverage of translations to consider
it being 'complete'. Less are reported if user tries to switch to such
language during installation / upgrade.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">incomplete_translation_treshold</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="base_product_license_directory">
    <a:documentation>Directory where the base-product (e.g., SLES) license files are stored</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">base_product_license_directory</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ui_mode">
    <a:documentation>Defines an UI mode used in some modules to differentiate between
'simple' and 'expert' (obsolete).</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">ui_mode</name>
      <choice>
        <value>expert</value>
        <value>simple</value>
      </choice>
    </element>
  </define>
  <define name="displaymanager_shutdown">
    <a:documentation>Writes DISPLAYMANAGER_SHUTDOWN to /etc/sysconfig/displaymanager
if set</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">displaymanager_shutdown</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="polkit_default_privs">
    <a:documentation>Writes POLKIT_DEFAULT_PRIVS to /etc/sysconfig/security
if set</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">polkit_default_privs</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="default_subworkflow">
    <a:documentation>Defines the default subworkflow name (smaller subworkflow
created from another workflow).
Used by Wagon.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_subworkflow</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="language">
    <a:documentation>Default language</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">language</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="readonly_language">
    <a:documentation>Language cannot be changed by the user</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">readonly_language</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="timezone">
    <a:documentation>Default timezone</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">timezone</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="readonly_timezone">
    <a:documentation>Timezone cannot be changed by the user</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">readonly_timezone</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="default_target">
    <a:documentation>Default runlevel</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_target</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="debug_workflow">
    <a:documentation>Debugging feature, makes workflow manaher to write
more detailed log entries</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">debug_workflow</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_autologin">
    <a:documentation>Default value for autologin</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_autologin</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_firewall">
    <a:documentation>Default value for firewall</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_firewall</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="firewall_enable_ssh">
    <a:documentation>Default value for opening port for SSH in firewall</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">firewall_enable_ssh</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_sshd">
    <a:documentation>Default value for SSHD service</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_sshd</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="write_hostname_to_hosts">
    <a:documentation>Default value whether to write a system hostname to /etc/hosts</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">write_hostname_to_hosts</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="dhclient_set_hostname">
    <a:documentation>Default value whether to change hostname via DHCP</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">dhclient_set_hostname</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="run_init_scripts_in_parallel">
    <a:documentation>Defines whether startup scripts should run in a parallel mode.
This speeds the starting up but it is worse for debugging.
*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">run_init_scripts_in_parallel</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="inform_about_suboptimal_distribution">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">inform_about_suboptimal_distribution</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="skip_language_dialog">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">skip_language_dialog</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_clone">
    <a:documentation>Defines whether an AytoYaST cloning feature should be enabled</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_clone</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="save_y2logs">
    <a:documentation>Defines if YaST logs are collected after finishing the installation/update
Default is true.
The TAR file will be stored in /var/log/YaST2/yast-installation-logs.tar.xz.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">save_y2logs</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_register_hwdata">
    <a:documentation>Default value for 'send hardware data' with registration
*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_register_hwdata</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_register_optional">
    <a:documentation>Default value for 'send optional system data' with registration
*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_register_optional</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="disable_os_prober">
    <a:documentation>Defines if by default os probing should be disabled see. Default is false. (bnc#884007)</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">disable_os_prober</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="display_register_forcereg">
    <a:documentation>*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">display_register_forcereg</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="disable_register_w3m">
    <a:documentation>*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">disable_register_w3m</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="register_monthly">
    <a:documentation>*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">register_monthly</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="manual_online_update">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">manual_online_update</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="root_password_as_first_user">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_password_as_first_user</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="root_password_ca_check">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_password_ca_check</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_local_users">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_local_users</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="show_online_repositories">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">show_online_repositories</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="online_repositories_default">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">online_repositories_default</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="show_addons">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">show_addons</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="addons_default">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">addons_default</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="kexec_reboot">
    <a:documentation>Defines whether kexec is the preferred mode instead of rebooting
between the first and the second stage of installation</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">kexec_reboot</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="rle_offer_rulevel_4">
    <a:documentation>Defines whether a special runlevel 4 should be offered
*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">rle_offer_rulevel_4</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="default_ntp_setup">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_ntp_setup</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="enable_kdump">
    <a:documentation>Defines whether kdump is enabled by default</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">enable_kdump</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="require_registration">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">require_registration</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="show_drivers_info">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">show_drivers_info</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <!-- Self-update URL (FATE#319716). -->
  <define name="self_update_url">
    <a:documentation>How it works?
here are two related keys for self update - URL and ID.
The ID is used to ask SCC for update URL.
The URL is used as fallback when SCC query failed.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">self_update_url</name>
      <ref name="STRING"/>
    </element>
  </define>
  <!-- Self-update id (bsc#1055556). -->
  <define name="self_update_id">
    <a:documentation>It is an ID used to query SCC for the self update repo.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">self_update_id</name>
      <ref name="STRING"/>
    </element>
  </define>
  <!-- Installation UI (boo#1088785) -->
  <define name="installation_ui">
    <a:documentation>Enables alternative look of installation with sidebar</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">installation_ui</name>
      <value>sidebar</value>
    </element>
  </define>
  <!-- Default value for CPU Mitigation settings in bootloader -->
  <define name="cpu_mitigations">
    <a:documentation>possible values are same as for autoyast and in UI - auto, nosmt, off, manual
see ::Bootloader::CpuMitigations.from_string</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">cpu_mitigations</name>
      <choice>
        <value>auto</value>
        <value>nosmt</value>
        <value>off</value>
        <value>manual</value>
      </choice>
    </element>
  </define>
  <!--
    Media name which contains ALL packages for an useful installation
    full_system_download_url has also to be set in order to display it.
  -->
  <define name="full_system_media_name">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">full_system_media_name</name>
      <ref name="STRING"/>
    </element>
  </define>
  <!--
    URL where the media described in full_system_download_url is located.
    full_system_media_name has also to be set in order to display it.
  -->
  <define name="full_system_download_url">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">full_system_download_url</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="precise_time">
    <a:documentation>Defines if product needs precise time. It is short time workaround for bsc#1145193</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">precise_time</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="save_instsys_content">
    <a:documentation>Defines which pieces of installation system should be copied to
the installed system before rebooting to second stage.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">save_instsys_content</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">save_instsys_item</name>
          <ref name="MAP"/>
          <interleave>
            <element>
              <a:documentation>Where to copy the installation-system file or directory
Absolut path is required.</a:documentation>
              <name ns="http://www.suse.com/1.0/yast2ns">system_directory</name>
              <ref name="STRING"/>
            </element>
            <element>
              <a:documentation>Which file or directory to copy to installed system
Absolut path is required.</a:documentation>
              <name ns="http://www.suse.com/1.0/yast2ns">instsys_directory</name>
              <ref name="STRING"/>
            </element>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="services_proposal">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">services_proposal</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">service</name>
          <ref name="MAP"/>
          <interleave>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">label_id</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">service_names</name>
              <ref name="STRING"/>
            </element>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">firewall_plugins</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">enabled_by_default</name>
                <ref name="BOOLEAN"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">packages</name>
                <ref name="STRING"/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="subworkflows">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">subworkflows</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">subworkflow</name>
          <ref name="MAP"/>
          <interleave>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">name</name>
              <ref name="STRING"/>
            </element>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">modules</name>
                <ref name="LIST"/>
                <oneOrMore>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">module</name>
                    <ref name="STRING"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">proposals</name>
                <ref name="LIST"/>
                <oneOrMore>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">proposal</name>
                    <ref name="STRING"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="globals">
    <a:documentation>Global variables</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">globals</name>
      <ref name="MAP"/>
      <zeroOrMore>
        <ref name="globals_elements"/>
      </zeroOrMore>
    </element>
  </define>
  <!-- globals -->
  <!-- software -->
  <define name="software_elements">
    <choice>
      <ref name="delete_old_packages"/>
      <ref name="select_product"/>
      <ref name="delete_old_packages_reverse_list"/>
      <ref name="disable_media_repo"/>
      <ref name="silently_downgrade_packages"/>
      <ref name="silently_downgrade_packages_reverse_list"/>
      <ref name="products_supported_for_upgrade"/>
      <ref name="selection_type"/>
      <ref name="default_system_scenario"/>
      <ref name="supported_desktops"/>
      <ref name="default_desktop"/>
      <ref name="display_support_status"/>
      <ref name="clone_install_recommended_default"/>
      <ref name="online_repos_preselected"/>
      <ref name="external_sources_link"/>
      <ref name="dropped_packages"/>
      <ref name="extra_urls"/>
      <ref name="base_selection"/>
      <ref name="packages_affecting_pkg_manager"/>
      <ref name="software_base"/>
      <ref name="software_addons"/>
      <ref name="software_packages"/>
      <ref name="kernel_packages"/>
      <ref name="packages_transmogrify"/>
      <ref name="default_patterns"/>
      <ref name="optional_default_patterns"/>
      <ref name="upgrade"/>
      <ref name="minimalistic_libzypp_config"/>
      <ref name="base_products"/>
      <ref name="software_default_modules"/>
    </choice>
  </define>
  <define name="select_product">
    <a:documentation>The name of the product which should be selected,
useful to choose it without asking the user (bsc#1124590).</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">select_product</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="delete_old_packages">
    <a:documentation>Whether it is allowed to delete a package during upgrade
*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">delete_old_packages</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="disable_media_repo">
    <a:documentation>Used in packager to distinguish whether cd / dvd repositories
should be disabled after installation or not.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">disable_media_repo</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="selection_type">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">selection_type</name>
      <ref name="SYMBOL"/>
      <text/>
    </element>
  </define>
  <define name="default_system_scenario">
    <a:documentation>System scenario selected by default.
Used in inst_scenarios client.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_system_scenario</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="default_desktop">
    <a:documentation>Desktop selected by default</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_desktop</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="display_support_status">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">display_support_status</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="clone_install_recommended_default">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">clone_install_recommended_default</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="silently_downgrade_packages">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">silently_downgrade_packages</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="online_repos_preselected">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">online_repos_preselected</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="external_sources_link">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">external_sources_link</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="dropped_packages">
    <a:documentation>Packages that should be removed by the upgrade.
Comma and/or space-separated list of packages</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">dropped_packages</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="base_selection">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">base_selection</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="software_base">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">base</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="packages_transmogrify">
    <a:documentation>a client that is called to modifiy the list of selected kernel packages</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">packages_transmogrify</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="software_addons">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">addons</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">addon</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="software_packages">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">packages</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">package</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    the default preselected products (modules) for the base product, used only
    in Full medium offline installation, see https://jira.suse.com/browse/SLE-8040
  -->
  <define name="software_default_modules">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_modules</name>
      <ref name="LIST"/>
      <zeroOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">default_module</name>
          <ref name="STRING"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="kernel_packages">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">kernel_packages</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">package</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="delete_old_packages_reverse_list">
    <a:documentation>*obsolete* without replacement</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">delete_old_packages_reverse_list</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">regexp_item</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="supported_desktops">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">supported_desktops</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">one_supported_desktop</name>
          <ref name="MAP"/>
          <interleave>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">name</name>
              <ref name="STRING"/>
            </element>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">desktop</name>
              <ref name="STRING"/>
            </element>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">label_id</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">logon</name>
              <ref name="STRING"/>
            </element>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">cursor</name>
              <ref name="STRING"/>
            </element>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">packages</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">order</name>
                <ref name="INTEGER"/>
              </element>
            </optional>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">patterns</name>
              <ref name="STRING"/>
            </element>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">icon</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">description_id</name>
                <ref name="STRING"/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="products_supported_for_upgrade">
    <a:documentation>List of products supported to be upgraded by this product</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">products_supported_for_upgrade</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <a:documentation>One regular expression to match a product to upgrade</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">regexp_item</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="silently_downgrade_packages_reverse_list">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">silently_downgrade_packages_reverse_list</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">regexp_item</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="extra_urls">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">extra_urls</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">extra_url</name>
          <ref name="MAP"/>
          <interleave>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">baseurl</name>
              <ref name="STRING"/>
            </element>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">name</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">alias</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">prod_dir</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">enabled</name>
                <ref name="BOOLEAN"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">autorefresh</name>
                <ref name="BOOLEAN"/>
              </element>
            </optional>
            <optional>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">priority</name>
                <ref name="INTEGER"/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="packages_affecting_pkg_manager">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">packages_affecting_pkg_manager</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">package</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="default_patterns">
    <a:documentation>Space-separated list of default patterns selected for installation.
If such a pattern doesn't exist, error is reported. To omit reporting
such error, use optional_default_patterns instead.
These patterns are not selected in auto-installation.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">default_patterns</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="optional_default_patterns">
    <a:documentation>Space-separated list of (optional) default patterns for installation.
These patterns will be selected only if they exist and thus it will
never report any error if a pattern is not found. Use default_patterns
for mandatory default patterns.
These patterns are not selected in auto-installation.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">optional_default_patterns</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="upgrade">
    <a:documentation>Defines behavior during upgrade</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">upgrade</name>
      <ref name="MAP"/>
      <optional>
        <element>
          <a:documentation>Optional list of upgrade paths for default window manager set
in /etc/sysconfig/windowmanager:DEFAULT_WM (not all cases need to be handled)</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">window_managers</name>
          <ref name="LIST"/>
          <zeroOrMore>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">window_manager</name>
              <ref name="MAP"/>
              <interleave>
                <element>
                  <a:documentation>Windowmanager as found in /etc/sysconfig/windowmanager:DEFAULT_WM
This entry is mandatory</a:documentation>
                  <name ns="http://www.suse.com/1.0/yast2ns">sysconfig_wm</name>
                  <ref name="STRING"/>
                </element>
                <optional>
                  <element>
                    <a:documentation>Space-separated list of packages to check whether the selected desktop
is really installed on the system</a:documentation>
                    <name ns="http://www.suse.com/1.0/yast2ns">check_packages</name>
                    <ref name="STRING"/>
                  </element>
                </optional>
                <oneOrMore>
                  <choice>
                    <a:documentation>Either install_patterns or install_packages (or both) must be defined</a:documentation>
                    <element>
                      <a:documentation>Optional list of space-separated patterns that should be
selected for installation</a:documentation>
                      <name ns="http://www.suse.com/1.0/yast2ns">install_patterns</name>
                      <ref name="STRING"/>
                    </element>
                    <element>
                      <a:documentation>Optional list of space-separated packages that should be
selected for installation</a:documentation>
                      <name ns="http://www.suse.com/1.0/yast2ns">install_packages</name>
                      <ref name="STRING"/>
                    </element>
                  </choice>
                </oneOrMore>
              </interleave>
            </element>
          </zeroOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="software">
    <a:documentation>Software / Package-manager related variables</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">software</name>
      <ref name="MAP"/>
      <zeroOrMore>
        <ref name="software_elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="minimalistic_libzypp_config">
    <a:documentation>Minimalistic libzypp configuration (only requires, no documentation and no multiversion)</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">minimalistic_libzypp_config</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <!-- the base products for the SCC (Online medium only) -->
  <define name="base_products">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">base_products</name>
      <ref name="LIST"/>
      <oneOrMore>
        <ref name="base_product"/>
      </oneOrMore>
    </element>
  </define>
  <define name="base_product">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">base_product</name>
      <ref name="MAP"/>
      <interleave>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">special_product</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">display_name</name>
          <ref name="STRING"/>
        </element>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">name</name>
          <ref name="STRING"/>
        </element>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">version</name>
          <ref name="STRING"/>
        </element>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">register_target</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">archs</name>
            <ref name="STRING"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- software -->
  <!-- partitioning -->
  <!--
    An overview of partitioning related settings can be found in
    https://github.com/yast/yast-storage-ng/blob/master/doc/old_and_new_proposal.md
  -->
  <!-- ng: one proposal and one volume list -->
  <define name="ng_partitioning_elements">
    <interleave>
      <ref name="partitioning_proposal"/>
      <ref name="partitioning_volumes"/>
      <optional>
        <ref name="expert_partitioner_warning"/>
      </optional>
    </interleave>
  </define>
  <!-- legacy: the old stuff, mixed together -->
  <define name="legacy_partitioning_elements">
    <choice>
      <ref name="try_separate_home"/>
      <ref name="limit_try_home"/>
      <ref name="home_path"/>
      <ref name="home_fs"/>
      <ref name="root_fs"/>
      <ref name="root_space_percent"/>
      <ref name="root_base_size"/>
      <ref name="root_max_size"/>
      <ref name="proposal_lvm"/>
      <ref name="vm_desired_size"/>
      <ref name="vm_home_max_size"/>
      <ref name="use_separate_multipath_module"/>
      <ref name="prefer_remove"/>
      <ref name="vm_keep_unpartitioned_region"/>
      <ref name="remove_special_partitions"/>
      <ref name="partitions"/>
      <ref name="btrfs_increase_percentage"/>
      <ref name="btrfs_default_subvolume"/>
      <ref name="expert_partitioner_warning"/>
      <ref name="root_subvolume_read_only"/>
      <ref name="subvolumes"/>
    </choice>
  </define>
  <!-- you can either have the new 'ng' style elements or the old 'legacy' ones -->
  <define name="partitioning_elements">
    <choice>
      <ref name="ng_partitioning_elements"/>
      <zeroOrMore>
        <ref name="legacy_partitioning_elements"/>
      </zeroOrMore>
    </choice>
  </define>
  <!-- legacy element definitions -->
  <define name="try_separate_home">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">try_separate_home</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="limit_try_home">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">limit_try_home</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="home_path">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">home_path</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="home_fs">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">home_fs</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="root_fs">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_fs</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="root_space_percent">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_space_percent</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="root_base_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_base_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="root_max_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_max_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="proposal_lvm">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposal_lvm</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="vm_desired_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">vm_desired_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="vm_home_max_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">vm_home_max_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="prefer_remove">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">prefer_remove</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="remove_special_partitions">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">remove_special_partitions</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="vm_keep_unpartitioned_region">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">vm_keep_unpartitioned_region</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <!-- used by HASI Add-On -->
  <define name="use_separate_multipath_module">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">use_separate_multipath_module</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="btrfs_increase_percentage">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">btrfs_increase_percentage</name>
      <ref name="INTEGER"/>
    </element>
  </define>
  <define name="btrfs_default_subvolume">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">btrfs_default_subvolume</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="expert_partitioner_warning">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">expert_partitioner_warning</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="root_subvolume_read_only">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">root_subvolume_read_only</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="subvolumes">
    <a:documentation>Optional, but if this element appears (even if it's empty),
the internal fallback list is not used</a:documentation>
    <optional>
      <element>
        <name ns="http://www.suse.com/1.0/yast2ns">subvolumes</name>
        <ref name="LIST"/>
        <zeroOrMore>
          <ref name="subvolume"/>
        </zeroOrMore>
      </element>
    </optional>
  </define>
  <define name="subvolume">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">subvolume</name>
      <ref name="MAP"/>
      <interleave>
        <element>
          <a:documentation>subvolume path without leading /</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">path</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <a:documentation>Optional: COW; default: true</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">copy_on_write</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Optional: comma-separated architectures (default: all)
Prepend ! to negate
Example 1: i386,x86_64
Example 2: ppc,!board_powernv
(i.e. on PPC, but not if it's a board_powernv machine</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">archs</name>
            <ref name="STRING"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- these have to be defined by Storage -->
  <define name="partitions">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">partitions</name>
      <ref name="LIST"/>
      <zeroOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">listentry</name>
          <zeroOrMore>
            <element>
              <anyName/>
              <ref name="ANY"/>
            </element>
          </zeroOrMore>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">partition</name>
          <zeroOrMore>
            <element>
              <anyName/>
              <ref name="ANY"/>
            </element>
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ng element definitions -->
  <define name="partitioning_proposal">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposal</name>
      <ref name="MAP"/>
      <ref name="partitioning_proposal_elements"/>
    </element>
  </define>
  <define name="partitioning_proposal_elements">
    <interleave>
      <optional>
        <ref name="ng_lvm"/>
      </optional>
      <optional>
        <ref name="ng_separate_vgs"/>
      </optional>
      <optional>
        <ref name="ng_resize_windows"/>
      </optional>
      <optional>
        <ref name="ng_windows_delete_mode"/>
      </optional>
      <optional>
        <ref name="ng_linux_delete_mode"/>
      </optional>
      <optional>
        <ref name="ng_other_delete_mode"/>
      </optional>
      <optional>
        <ref name="ng_lvm_vg_strategy"/>
      </optional>
      <optional>
        <ref name="ng_lvm_vg_size"/>
      </optional>
      <optional>
        <ref name="ng_delete_resize_configurable"/>
      </optional>
      <optional>
        <ref name="ng_allocate_volume_mode"/>
      </optional>
      <optional>
        <ref name="ng_multidisk_first"/>
      </optional>
    </interleave>
  </define>
  <define name="ng_lvm">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">lvm</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_separate_vgs">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">separate_vgs</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_resize_windows">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">resize_windows</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_windows_delete_mode">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">windows_delete_mode</name>
      <ref name="SYMBOL"/>
      <ref name="ng_delete_mode_enum"/>
    </element>
  </define>
  <define name="ng_linux_delete_mode">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">linux_delete_mode</name>
      <ref name="SYMBOL"/>
      <ref name="ng_delete_mode_enum"/>
    </element>
  </define>
  <define name="ng_other_delete_mode">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">other_delete_mode</name>
      <ref name="SYMBOL"/>
      <ref name="ng_delete_mode_enum"/>
    </element>
  </define>
  <define name="ng_lvm_vg_strategy">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">lvm_vg_strategy</name>
      <ref name="SYMBOL"/>
      <ref name="ng_lvm_vg_strategy_enum"/>
    </element>
  </define>
  <define name="ng_lvm_vg_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">lvm_vg_size</name>
      <ref name="DISKSIZE"/>
    </element>
  </define>
  <define name="ng_delete_resize_configurable">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">delete_resize_configurable</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_allocate_volume_mode">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">allocate_volume_mode</name>
      <ref name="SYMBOL"/>
      <ref name="ng_allocate_volume_mode_enum"/>
    </element>
  </define>
  <define name="ng_multidisk_first">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">multidisk_first</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_delete_mode_enum">
    <choice>
      <value>none</value>
      <value>ondemand</value>
      <value>all</value>
    </choice>
  </define>
  <define name="ng_allocate_volume_mode_enum">
    <choice>
      <value>auto</value>
      <value>device</value>
    </choice>
  </define>
  <define name="ng_lvm_vg_strategy_enum">
    <choice>
      <value>use_available</value>
      <value>use_needed</value>
      <value>use_vg_size</value>
    </choice>
  </define>
  <define name="partitioning_volumes">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">volumes</name>
      <ref name="LIST"/>
      <oneOrMore>
        <ref name="partitioning_volume"/>
      </oneOrMore>
    </element>
  </define>
  <define name="partitioning_volume">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">volume</name>
      <ref name="MAP"/>
      <ref name="partitioning_volume_elements"/>
    </element>
  </define>
  <define name="partitioning_volume_elements">
    <interleave>
      <optional>
        <ref name="ng_mount_point"/>
      </optional>
      <optional>
        <ref name="ng_proposed"/>
      </optional>
      <optional>
        <ref name="ng_proposed_configurable"/>
      </optional>
      <optional>
        <ref name="ng_fs_types"/>
      </optional>
      <optional>
        <ref name="ng_fs_type"/>
      </optional>
      <optional>
        <ref name="ng_desired_size"/>
      </optional>
      <optional>
        <ref name="ng_min_size"/>
      </optional>
      <optional>
        <ref name="ng_max_size"/>
      </optional>
      <optional>
        <ref name="ng_max_size_lvm"/>
      </optional>
      <optional>
        <ref name="ng_weight"/>
      </optional>
      <optional>
        <ref name="ng_adjust_by_ram"/>
      </optional>
      <optional>
        <ref name="ng_adjust_by_ram_configurable"/>
      </optional>
      <optional>
        <ref name="ng_fallback_for_desired_size"/>
      </optional>
      <optional>
        <ref name="ng_fallback_for_min_size"/>
      </optional>
      <optional>
        <ref name="ng_fallback_for_max_size"/>
      </optional>
      <optional>
        <ref name="ng_fallback_for_max_size_lvm"/>
      </optional>
      <optional>
        <ref name="ng_fallback_for_weight"/>
      </optional>
      <optional>
        <ref name="ng_snapshots"/>
      </optional>
      <optional>
        <ref name="ng_snapshots_configurable"/>
      </optional>
      <optional>
        <ref name="ng_snapshots_size_or_percentage"/>
      </optional>
      <optional>
        <ref name="ng_subvolumes"/>
      </optional>
      <optional>
        <ref name="ng_btrfs_default_subvolume"/>
      </optional>
      <optional>
        <ref name="ng_disable_order"/>
      </optional>
      <optional>
        <ref name="ng_btrfs_read_only"/>
      </optional>
      <optional>
        <ref name="ng_separate_vg_name"/>
      </optional>
    </interleave>
  </define>
  <define name="ng_snapshots_size_or_percentage">
    <choice>
      <ref name="ng_snapshots_size"/>
      <ref name="ng_snapshots_percentage"/>
    </choice>
  </define>
  <define name="ng_mount_point">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">mount_point</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_proposed">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposed</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_proposed_configurable">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposed_configurable</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_fs_types">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fs_types</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_fs_type">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fs_type</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_desired_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">desired_size</name>
      <ref name="DISKSIZE"/>
    </element>
  </define>
  <define name="ng_min_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">min_size</name>
      <ref name="DISKSIZE"/>
    </element>
  </define>
  <define name="ng_max_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">max_size</name>
      <ref name="DISKSIZE"/>
    </element>
  </define>
  <define name="ng_max_size_lvm">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">max_size_lvm</name>
      <ref name="DISKSIZE"/>
    </element>
  </define>
  <define name="ng_weight">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">weight</name>
      <ref name="INTEGER"/>
    </element>
  </define>
  <define name="ng_adjust_by_ram">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">adjust_by_ram</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_adjust_by_ram_configurable">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">adjust_by_ram_configurable</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_fallback_for_desired_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fallback_for_desired_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_fallback_for_min_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fallback_for_min_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_fallback_for_max_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fallback_for_max_size</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_fallback_for_max_size_lvm">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fallback_for_max_size_lvm</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_fallback_for_weight">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">fallback_for_weight</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_snapshots">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">snapshots</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_snapshots_configurable">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">snapshots_configurable</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_snapshots_size">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">snapshots_size</name>
      <ref name="DISKSIZE"/>
    </element>
  </define>
  <define name="ng_snapshots_percentage">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">snapshots_percentage</name>
      <ref name="INTEGER"/>
    </element>
  </define>
  <define name="ng_subvolumes">
    <ref name="subvolumes"/>
  </define>
  <define name="ng_btrfs_default_subvolume">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">btrfs_default_subvolume</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="ng_disable_order">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">disable_order</name>
      <ref name="INTEGER"/>
    </element>
  </define>
  <define name="ng_btrfs_read_only">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">btrfs_read_only</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="ng_separate_vg_name">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">separate_vg_name</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="partitioning">
    <a:documentation>Partitioning-related variables</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">partitioning</name>
      <ref name="MAP"/>
      <ref name="partitioning_elements"/>
    </element>
  </define>
  <!-- partitioning -->
  <!-- network -->
  <define name="network_elements">
    <choice>
      <ref name="force_static_ip"/>
      <ref name="network_manager"/>
      <ref name="startmode"/>
    </choice>
  </define>
  <define name="force_static_ip">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">force_static_ip</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
  <define name="network_manager">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">network_manager</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="startmode">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">startmode</name>
      <ref name="STRING"/>
    </element>
  </define>
  <define name="network">
    <a:documentation>Network configuration-related variables</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">network</name>
      <ref name="MAP"/>
      <zeroOrMore>
        <ref name="network_elements"/>
      </zeroOrMore>
    </element>
  </define>
  <!-- network -->
  <!-- system_roles -->
  <define name="system_roles">
    <a:documentation>System Roles, FATE#317481</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">system_roles</name>
      <ref name="LIST"/>
      <zeroOrMore>
        <ref name="system_role">
          <a:documentation>The first one is preselected in the dialog.
If empty, the dialog is skipped.</a:documentation>
        </ref>
      </zeroOrMore>
    </element>
  </define>
  <define name="system_role">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">system_role</name>
      <ref name="MAP"/>
      <interleave>
        <element>
          <a:documentation>An identifier not visible to the user.
Used to identify the translated user visible strings in the
texts section: ${id} and ${id}_description.</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">id</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <a:documentation>option to not preselect any role, by default,
the first one (by sort order, see below) is preselected
Only the first (by sort order, see below) role should have this key, others are ignored.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">no_default</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <element>
          <a:documentation>Option for order of role. Roles are sorted by order, the smaller first. It can be negative.
If two roles have same order, then result is undefined, so try to avoid it.</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">order</name>
          <ref name="INTEGER"/>
        </element>
        <optional>
          <ref name="partitioning">
            <a:documentation>Role specific overrides for Partitioning</a:documentation>
          </ref>
        </optional>
        <optional>
          <ref name="software">
            <a:documentation>Role specific overrides for Software</a:documentation>
          </ref>
        </optional>
        <optional>
          <element>
            <a:documentation>Additional dialogs that are runned when given role is selected, comma separated</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">additional_dialogs</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <ref name="role_services">
            <a:documentation>Additional services configuration for given role</a:documentation>
          </ref>
        </optional>
        <zeroOrMore>
          <ref name="globals">
            <a:documentation>Role specific overrides for Global</a:documentation>
          </ref>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="network">
            <a:documentation>Role specific overrides for Network</a:documentation>
          </ref>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="proposals">
            <a:documentation>Role specific overrides for Proposals</a:documentation>
          </ref>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="clone_modules">
            <a:documentation>Role specific overrides for Cloned modules</a:documentation>
          </ref>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="role_services">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">services</name>
      <ref name="LIST"/>
      <zeroOrMore>
        <ref name="role_service">
          <a:documentation>specification of one service for given role</a:documentation>
        </ref>
      </zeroOrMore>
    </element>
  </define>
  <define name="role_service">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">service</name>
      <ref name="MAP"/>
      <element>
        <name ns="http://www.suse.com/1.0/yast2ns">name</name>
        <ref name="STRING"/>
      </element>
    </element>
  </define>
  <!-- clone_modules -->
  <define name="clone_modules">
    <a:documentation>List of modules used by AutoYaST for cloning the configuration</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">clone_modules</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">clone_module</name>
          <ref name="STRING"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!-- clone_modules -->
  <!-- texts -->
  <define name="texts">
    <a:documentation>Control-file texts marked for translation</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">texts</name>
      <ref name="MAP"/>
      <oneOrMore>
        <element>
          <anyName/>
          <ref name="MAP"/>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">label</name>
            <ref name="STRING"/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!-- texts -->
  <!-- proposals -->
  <define name="proposal_module">
    <a:documentation>There are two types of element 'proposal_modules'
 1.) proposal_modules with attributes 'name' and 'presentation_order'
 2.) proposal_modules with inexplicit 'name'</a:documentation>
    <a:documentation>Proposal module with 'name' and 'presentation_order'</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposal_module</name>
      <choice>
        <group>
          <ref name="MAP"/>
          <interleave>
            <optional>
              <element>
                <a:documentation>Proposal name</a:documentation>
                <name ns="http://www.suse.com/1.0/yast2ns">name</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <element>
                <a:documentation>Presentation order in the current proposal (integer).
Lower numbers first.</a:documentation>
                <name ns="http://www.suse.com/1.0/yast2ns">presentation_order</name>
                <ref name="STRING"/>
              </element>
            </optional>
            <optional>
              <!-- proposal writable -->
              <element>
                <a:documentation>Read only flag - if "hard" the proposal cannot be changed (clicked) by user,
if "soft" the proposal can be changed in case of error. By default is every</a:documentation>
                <name ns="http://www.suse.com/1.0/yast2ns">read_only</name>
                <ref name="STRING"/>
              </element>
            </optional>
          </interleave>
        </group>
        <ref name="STRING">
          <a:documentation>Inexplicit proposal name if not explicitely defined by 'name' and 'presentation_order'</a:documentation>
        </ref>
      </choice>
    </element>
  </define>
  <define name="proposal">
    <a:documentation>Proposal defines one configuration step with one or more proposal_modules
inside. Proposal modules usually depend on each other so the order does
matter. If you want to list proposal modules in a different order, use
'presentation' order attribute.</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposal</name>
      <ref name="MAP"/>
      <interleave>
        <element>
          <a:documentation>Unique ID of the proposal</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">unique_id</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <a:documentation/>
            <name ns="http://www.suse.com/1.0/yast2ns">label</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines for which architectures is this proposal used.
Comma-separated list of architectures as seen in
/usr/share/YaST2/modules/Arch.ycp
Valid for all architectures if not explicitely defined.
See Arch::arch_short</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">archs</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines for which mode is this proposal used.
Comma-separated list of modes as seen in
/usr/share/YaST2/modules/Mode.ycp
Valid for all modes if not explicitely defined.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">mode</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <element>
          <a:documentation>Defines for which stage is this proposal used.
Comma-separated list of stages as seen in
/usr/share/YaST2/modules/Stage.ycp
Valid for all stages if not explicitely defined.</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">stage</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <a:documentation>Proposal name used later to define which proposal to use</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">name</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">type</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines whether a proposal can be skipped</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_skip</name>
            <ref name="YES_NO"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>List of modules in proposal</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">proposal_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <ref name="proposal_module"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines how/whether tabs are used in proposal, e.g.,
Simple tab vs. Expert tab.
If tabs are used, 'proposal_modules' above is still used
but its presentation_order ignored.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">proposal_tabs</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <a:documentation>Defines one tab in a proposal</a:documentation>
                <name ns="http://www.suse.com/1.0/yast2ns">proposal_tab</name>
                <ref name="MAP"/>
                <interleave>
                  <element>
                    <a:documentation>Label on the tab</a:documentation>
                    <name ns="http://www.suse.com/1.0/yast2ns">label</name>
                    <ref name="STRING"/>
                  </element>
                  <element>
                    <a:documentation>List of proposal modules</a:documentation>
                    <name ns="http://www.suse.com/1.0/yast2ns">proposal_modules</name>
                    <ref name="LIST"/>
                    <oneOrMore>
                      <ref name="proposal_module"/>
                    </oneOrMore>
                  </element>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- List of all proposals in control file -->
  <define name="proposals">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposals</name>
      <ref name="LIST"/>
      <oneOrMore>
        <ref name="proposal"/>
      </oneOrMore>
    </element>
  </define>
  <!-- proposals -->
  <!-- workflows -->
  <!-- Describes one step in a workflow -->
  <define name="module">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">module</name>
      <ref name="MAP"/>
      <interleave>
        <optional>
          <element>
            <a:documentation>Name of a step.
Used as an identification for updating, removing etc. of steps.
If 'execute' is not used, 'name' also defines name of a YCP script
called by YaST. In installation or upgrade, all script have to match
inst_(.*) regexp.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">name</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines exact name of a YCP script (without .ycp suffix)</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">execute</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines a configuration step shown in workflow with steps.
If empty, a label defined in closes step before is used.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">label</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines a heading step. Heading usually does not have any client
to run and defines only the major step in workflow.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">heading</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines for which architectures is this module used.
Comma-separated list of architectures as seen in
/usr/share/YaST2/modules/Arch.ycp
Valid for all architectures if not explicitely defined.
See Arch::arch_short</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">archs</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines which proposal to call in this step.
Proposal 'name' is used.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">proposal</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines whether the [Back] button is enabled by default in this step.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_back</name>
            <ref name="YES_NO"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines whether the [Next] button is enabled by default in this step.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_next</name>
            <ref name="YES_NO"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Additional module arguments</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">arguments</name>
            <choice>
              <group>
                <ref name="MAP"/>
                <optional>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">first_run</name>
                    <ref name="YES_NO"/>
                  </element>
                </optional>
              </group>
              <group>
                <ref name="MAP"/>
                <zeroOrMore>
                  <element>
                    <anyName/>
                    <ref name="STRING"/>
                  </element>
                </zeroOrMore>
              </group>
              <!-- used in autoyast -->
              <ref name="STRING"/>
            </choice>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Should YaST retranslate the whole screen after this client is called?
Default is 'true'.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">retranslate</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">update</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Defines whether a module is enabled by default.
Default value is 'true'</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">enabled</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Script body called before the described step</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">prescript</name>
            <ref name="MAP"/>
            <interleave>
              <element>
                <a:documentation>@example
shell</a:documentation>
                <name ns="http://www.suse.com/1.0/yast2ns">interpreter</name>
                <ref name="STRING"/>
              </element>
              <element>
                <a:documentation>@example
&lt;![CDATA[#!/bin/sh
echo test &gt; /tmp/test
]]&gt;</a:documentation>
                <name ns="http://www.suse.com/1.0/yast2ns">source</name>
                <ref name="STRING"/>
              </element>
            </interleave>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Script body called after the described step</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">postscript</name>
            <ref name="MAP"/>
            <interleave>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">interpreter</name>
                <ref name="STRING"/>
              </element>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">source</name>
                <ref name="STRING"/>
              </element>
            </interleave>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="workflow_defaults">
    <a:documentation>Defines the default workflow settings</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">defaults</name>
      <ref name="MAP"/>
      <interleave>
        <optional>
          <element>
            <a:documentation>For which architectures is this default valid</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">archs</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Special patemeters used by AutoYaST</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">arguments</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Is [Back] button enabled by default?
If not set, default values is 'yes'.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_back</name>
            <ref name="YES_NO"/>
          </element>
        </optional>
        <optional>
          <element>
            <a:documentation>Is [Next] button enabled by default?
If not set, default values is 'yes'.</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_next</name>
            <ref name="YES_NO"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="workflow">
    <a:documentation>Workflow, defines for instance, 'second stage installation'</a:documentation>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">workflow</name>
      <ref name="MAP"/>
      <interleave>
        <optional>
          <ref name="workflow_defaults"/>
        </optional>
        <optional>
          <element>
            <a:documentation>Superstep name visible in UI</a:documentation>
            <name ns="http://www.suse.com/1.0/yast2ns">label</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <element>
          <a:documentation>Defines for which mode is this proposal used.
Comma-separated list of modes as seen in
/usr/share/YaST2/modules/Mode.ycp
Valid for all modes if not explicitely defined.</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">mode</name>
          <ref name="STRING"/>
        </element>
        <element>
          <a:documentation>Defines for which stage is this workflow used.
Comma-separated list of stages as seen in
/usr/share/YaST2/modules/Stage.ycp
Valid for all stages if not explicitely defined.</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">stage</name>
          <ref name="STRING"/>
        </element>
        <element>
          <a:documentation>List of modules in workflow</a:documentation>
          <name ns="http://www.suse.com/1.0/yast2ns">modules</name>
          <ref name="LIST"/>
          <oneOrMore>
            <ref name="module"/>
          </oneOrMore>
        </element>
      </interleave>
    </element>
  </define>
  <!-- List of all defined workflows -->
  <define name="workflows">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">workflows</name>
      <ref name="LIST"/>
      <oneOrMore>
        <ref name="workflow"/>
      </oneOrMore>
    </element>
  </define>
  <!-- workflows -->
  <!-- inst_finish_stages -->
  <define name="inst_finish_stages">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">inst_finish_stages</name>
      <ref name="LIST"/>
      <oneOrMore>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">inst_finish_stage</name>
          <ref name="MAP"/>
          <interleave>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">label</name>
              <ref name="STRING"/>
            </element>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">steps</name>
              <ref name="LIST"/>
              <oneOrMore>
                <element>
                  <name ns="http://www.suse.com/1.0/yast2ns">step</name>
                  <ref name="STRING"/>
                </element>
              </oneOrMore>
            </element>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!-- inst_finish_stages -->
  <!-- update -->
  <define name="update_workflow">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">workflow</name>
      <ref name="MAP"/>
      <interleave>
        <optional>
          <ref name="workflow_defaults"/>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">label</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">stage</name>
          <ref name="STRING"/>
        </element>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">mode</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">insert_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">insert_module</name>
                <interleave>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">before</name>
                    <ref name="STRING"/>
                  </element>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">modules</name>
                    <ref name="LIST"/>
                    <oneOrMore>
                      <ref name="module"/>
                    </oneOrMore>
                  </element>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">append_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <ref name="module"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">remove_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">remove_module</name>
                <ref name="STRING"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">replace_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">replace_module</name>
                <ref name="MAP"/>
                <interleave>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">replace</name>
                    <ref name="STRING"/>
                  </element>
                  <element>
                    <name ns="http://www.suse.com/1.0/yast2ns">modules</name>
                    <ref name="LIST"/>
                    <oneOrMore>
                      <ref name="module"/>
                    </oneOrMore>
                  </element>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="update_proposal">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">proposal</name>
      <ref name="MAP"/>
      <interleave>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">stage</name>
          <ref name="STRING"/>
        </element>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">mode</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">label</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">name</name>
          <ref name="STRING"/>
        </element>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_skip</name>
            <ref name="YES_NO"/>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">append_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">append_module</name>
                <ref name="STRING"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">remove_modules</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">remove_module</name>
                <ref name="STRING"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">replace_modules</name>
            <ref name="LIST"/>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">replace_module</name>
              <ref name="MAP"/>
              <interleave>
                <element>
                  <name ns="http://www.suse.com/1.0/yast2ns">replace</name>
                  <ref name="STRING"/>
                </element>
                <element>
                  <name ns="http://www.suse.com/1.0/yast2ns">new_modules</name>
                  <ref name="LIST"/>
                  <oneOrMore>
                    <element>
                      <name ns="http://www.suse.com/1.0/yast2ns">new_module</name>
                      <ref name="STRING"/>
                    </element>
                  </oneOrMore>
                </element>
              </interleave>
            </element>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="update_system_roles">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">system_roles</name>
      <ref name="MAP"/>
      <optional>
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">insert_system_roles</name>
          <ref name="LIST"/>
          <oneOrMore>
            <element>
              <name ns="http://www.suse.com/1.0/yast2ns">insert_system_role</name>
              <ref name="system_roles"/>
            </element>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="update">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">update</name>
      <ref name="MAP"/>
      <interleave>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">proposals</name>
            <ref name="LIST"/>
            <oneOrMore>
              <ref name="update_proposal"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">workflows</name>
            <ref name="LIST"/>
            <oneOrMore>
              <ref name="update_workflow"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">inst_finish</name>
            <interleave>
              <optional>
                <element>
                  <name ns="http://www.suse.com/1.0/yast2ns">before_chroot</name>
                  <ref name="LIST"/>
                  <oneOrMore>
                    <element>
                      <name ns="http://www.suse.com/1.0/yast2ns">module</name>
                      <ref name="STRING"/>
                    </element>
                  </oneOrMore>
                </element>
              </optional>
              <optional>
                <element>
                  <name ns="http://www.suse.com/1.0/yast2ns">after_chroot</name>
                  <ref name="LIST"/>
                  <oneOrMore>
                    <element>
                      <name ns="http://www.suse.com/1.0/yast2ns">module</name>
                      <ref name="STRING"/>
                    </element>
                  </oneOrMore>
                </element>
              </optional>
              <optional>
                <element>
                  <name ns="http://www.suse.com/1.0/yast2ns">before_umount</name>
                  <ref name="LIST"/>
                  <oneOrMore>
                    <element>
                      <name ns="http://www.suse.com/1.0/yast2ns">module</name>
                      <ref name="STRING"/>
                    </element>
                  </oneOrMore>
                </element>
              </optional>
            </interleave>
          </element>
        </optional>
        <optional>
          <ref name="update_system_roles"/>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- update -->
  <define name="configuration_management">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">configuration_management</name>
      <ref name="MAP"/>
      <interleave>
        <!-- Configuration managment system to use -->
        <element>
          <name ns="http://www.suse.com/1.0/yast2ns">type</name>
          <choice>
            <value>salt</value>
            <value>puppet</value>
          </choice>
        </element>
        <optional>
          <!-- Host name or IP address of the master server -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">master</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <!-- Number of attempts when trying to connect to the master server -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">auth_attempts</name>
            <ref name="INTEGER"/>
          </element>
        </optional>
        <optional>
          <!-- Time between attempts to connect to the master server -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">auth_time_out</name>
            <ref name="INTEGER"/>
          </element>
        </optional>
        <optional>
          <!--
            Path to an HTTTP(S) server, hard disk, USB driver or similar containing the
            private/public keys to connect to the master server
          -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">keys_url</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <!-- Enable the configuration management system services after the installation -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">enable_services</name>
            <ref name="BOOLEAN"/>
          </element>
        </optional>
        <optional>
          <!-- Salt specific -->
          <!-- Path to write Pillar data -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">pillar_root</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <!-- URL to read Pillar data from -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">pillar_url</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <!-- Paths to search for formulas -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">formulas_roots</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">formulas_root</name>
                <ref name="STRING"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <!-- Paths to search for states -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">states_roots</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">states_root</name>
                <ref name="STRING"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <!-- URL to get states from -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">states_url</name>
            <ref name="STRING"/>
          </element>
        </optional>
        <optional>
          <!-- List of states/formulas to enable -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">enabled_states</name>
            <ref name="LIST"/>
            <oneOrMore>
              <element>
                <name ns="http://www.suse.com/1.0/yast2ns">state</name>
                <ref name="STRING"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <!-- Puppet specific -->
          <!-- URL to read Puppet modules from -->
          <element>
            <name ns="http://www.suse.com/1.0/yast2ns">modules_url</name>
            <ref name="STRING"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- not more than one partitioning element -->
  <define name="productDefines_elements">
    <interleave>
      <zeroOrMore>
        <ref name="textdomain"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="globals"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="software"/>
      </zeroOrMore>
      <optional>
        <ref name="partitioning"/>
      </optional>
      <zeroOrMore>
        <ref name="network"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="proposals"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="workflows"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clone_modules"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="texts"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="inst_finish_stages"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="update"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="system_roles"/>
      </zeroOrMore>
      <optional>
        <ref name="configuration_management"/>
      </optional>
    </interleave>
  </define>
  <start>
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">productDefines</name>
      <ref name="productDefines_elements"/>
    </element>
  </start>
  <define name="debug_deploying">
    <element>
      <name ns="http://www.suse.com/1.0/yast2ns">debug_deploying</name>
      <ref name="BOOLEAN"/>
    </element>
  </define>
</grammar>
